.container {
  position: relative;
  width: 90vw;
  max-width: 350px; 
  padding: 1rem;
  height: auto;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid rgb(37, 37, 39);
  box-shadow: 5px 5px 5px rgba(183, 162, 189, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.light {
  background-color:#CAE2FF;
}

.dark {
  background-color: #1E293B;
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
    width: 350px;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 1.5rem;
    width: 420px;
  }
}
