body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  box-sizing: border-box;
}

.app.light {
  --background-color: rgb(255, 242, 224);
}

.app.dark {
  --background-color: rgb(46, 7, 63);
}



