.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.light {
  background-color:#F9FAFB;
}

.dark {
  background-color: #121212;
}

.app.light, 
.app.dark {
  transition: background-color 0.3s ease;
}
