.app{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light{
    background-color: rgb(255, 242, 224);
}

.dark {
  background-color: rgb(46, 7, 63);
}