.btn {
    background-color:  rgb(245, 203, 203);
    color: aliceblue;
    width: 3.5em;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 15%;
}

/* .equal{
    background-color:rgb(116, 141, 174); 
}  */


.btn:hover{
    background-color:rgb(255, 234, 234);
    color: darkgrey;
}

/* .equal:hover{
    background-color: rgb(158, 202, 214); 
} */